bin/art
.tarball-version
*.info
*.pdf
build.log
build.err
#configure
obj/*
*.so
*.o
Makefile
.deps
.libs
autom4te.cache
config.h
*.doc
*.x
*.lo
*.la
aclocal.m4
depcomp
missing
mdate-sh
texinfo.tex
*~
,*
aclocal.m4
config.build-subdirs
config.cache
config.status
depcomp
mdate-sh
missing
mkinstalldirs
stamp-h1
*.go
cscope.out
cscope.files
*.log
*.aux
*.cp
*.cps
*.dvi
*.fn
*.fns
*.ky
*.pg
*.toc
*.tp
*.vr
*.tps
*.vrs
*.pgs
*.rn
*.rns
*.scan
*.am
*.d
include/octopus/version.hh
ltmain.sh
libtool
examples/upload
include/octopus/__msg_types.hh
include/octopus/__msg_serialize.hh
include/octopus/__msg.hh
include/octopus/__obj.hh
.project
.pydevproject
*.pyc
*.pc
.clang-format
scheme/dorabot/octopus/version.scm
python/dorabot/octopus/version.py
python/dorabot/build/
python/dorabot/dist/
python/dorabot/python_octopus.egg-info/
python/dorabot/.cache/
python/dorabot/.eggs/
.idea
.cquery
.cquery_cached_index/
compile_commands.json
.vscode/